./FlowNet2-C_checkpoint.pth.tar
/FlowNet2_checkpoint.pth.tar
/results
/castle
/data
/Baseline
./Baseline_data_1
./Baseline_flow_depth
./Baseline*
./Baseline_data_1/
./Baseline_data/
./data
./Baseline/*
Corl_Benchmark/
flownet2/
__pycache__/
*.py[cod]
*$py.class
.eggs/

